---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
products:
    featured:
        limit: {{theme_settings.sidebar_products_per_page}}
    new:
        limit: 25
    top_sellers:
        limit: {{theme_settings.sidebar_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
    <div class="page-listing-header{{#if banners.top}} has-banner{{/if}}">
        <div class="page-listing-header--banner">
            {{#if banners.top}}
                {{> components/halothemes/gallery/halo-banners banner="halo-top-banner"}}
            {{/if}}
            {{{region name="category_below_header"}}}
            {{{region name="category_below_header--global"}}}
        </div>
        <div class="page-listing-header--content">
            <div class="container">
                <div class="breadcrumb-wrapper">
                    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
                </div>
                <h1 class="page-heading">{{category.name}}</h1>
            </div>
        </div>
    </div>
    <div class="container{{#and (if theme_settings.halo-category-sidebar) (if theme_settings.halo-sidebar-type-custom)}} container-custom-3{{/and}}">
        <div class="page page-category page-listing{{#and (if theme_settings.halo-category-sidebar) (if theme_settings.halo-sidebar-type-custom)}} page-custom-sidebar{{/and}}">
            {{#or (if category.description) (if category.image)}}
                <div class="page-header">
                    {{#if category.image}}
                        <div class="page-image">
                            {{> components/common/responsive-img
                                image=category.image
                                fallback_size=theme_settings.zoom_size
                                lazyload=theme_settings.lazyload_mode
                                class="category-header-image"
                            }}
                        </div>
                    {{/if}}
                    {{#if category.description}}
                        <div class="page-description halo-description">
                            {{{category.description}}}
                        </div>
                    {{/if}}
                    
                </div>
            {{/or}}
            {{#if theme_settings.halo-category-sidebar}}
                <aside class="page-sidebar" id="faceted-search-container">
                    <div class="page-sidebar-close">
                        <span class="title">{{lang 'common.sidebar'}}</span>
                        <a href="#" class="close">
                            <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
                                <title>{{lang 'common.close'}}</title>
                                <desc>{{lang 'common.close'}}</desc>
                                <use xlink:href="#icon-close"></use>
                            </svg>
                        </a>
                    </div>
                    {{> components/category/sidebar}}
                </aside>
            {{/if}}
            <main class="page-content" id="product-listing-container">
                {{#if theme_settings.halo-category-sidebar}}
                    <div class="halo-toolbar">
                        <div class="page-sidebar-mobile-wrapper">
                            <div class="page-sidebar-mobile">
                                <span class="text">{{lang 'common.sidebar'}}</span>
                                <svg class="icon" role="img" aria-label="{{lang 'common.sidebar'}}">
                                    <title>{{lang 'common.sidebar'}}</title>
                                    <desc>{{lang 'common.sidebar'}}</desc>
                                    <use xlink:href="#icon-sidebar"></use>
                                </svg>
                            </div>
                        </div>
                        {{#if category.products}}
                            {{> components/halothemes/gallery/halo-toolbar sort=pagination.category.sort}}
                        {{/if}}
                    </div>
                {{else}}
                    {{#or (if theme_settings.haloStickyToolbar_viewAs) (if theme_settings.haloStickyToolbar_limit) (if theme_settings.haloStickyToolbar_sort)}}
                        <div class="halo-toolbar">
                            {{#if category.products}}
                                {{> components/halothemes/gallery/halo-toolbar sort=pagination.category.sort}}
                            {{/if}}
                        </div>
                    {{/or}}
                {{/if}}
                {{#if category.products}}
                    {{> components/category/product-listing productsnew=products.new show_compare=category.show_compare}}
                {{else}}
                    <p class="page-no-products">{{lang 'categories.no_products'}}</p>
                {{/if}}
                {{{region name="category_below_content"}}}
            </main>
        </div>
    </div>
    {{#if banners.bottom}}
        <div class="page-listing-footer">
            {{{region name="halo_fullwidth_banner"}}}
            {{{region name="halo_fullwidth_banner--global"}}}            
            {{{region name="halo_testimonial"}}}
            {{{region name="halo_testimonial--global"}}}            
        </div>
    {{/if}}
{{/partial}}
{{> layout/base}}
