---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
products:
    new:
        limit: 25
---
{{inject "productId" product.id}}

{{#partial "page"}}
    <div class="page page-product{{#if theme_settings.halo_product_template_mobile}} page-product-mobile{{/if}}">
        <div class="halo-productView-top" itemscope itemtype="http://schema.org/Product">
            <div class="container">
                {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

                <div class="productView-alert">
                    {{#each product.shipping_messages}}
                        {{> components/common/alert/alert-info message}}
                    {{/each}}
                    {{#each product.reviews.messages}}
                        {{#if error}}
                            {{> components/common/alert/alert-error error}}
                        {{/if}}
                        {{#if success}}
                            {{> components/common/alert/alert-success success}}
                        {{/if}}
                    {{/each}}
                </div>

                {{> components/products/product-view productsnew=products.new schema=true}}
                {{{region name="product_below_content"}}}
            </div>
        </div>
        {{> components/halothemes/product/halo-icon-with-text}}
        {{> components/halothemes/product/halo-bundle-products}}
        <div class="halo-productView-bottom">
            {{#if theme_settings.show_product_details_tabs}}
                <div class="productView-tab halo-description">
                    <div class="container">
                        {{> components/products/description-tabs}}
                    </div>
                </div>
            {{else}}
                {{> components/products/description}}
            {{/if}}

            {{> components/halothemes/product/halo-image-gallery}}

            {{#if theme_settings.productpage_product_block-1 '==' 'Related'}}
                {{> components/products/related
                    products=product.related_products
                    productsnew=products.new
                    title=theme_settings.productpage_product_block-1-title
                    block_id="halo-product-block-1"
                    block_limit=product.related_products.length
                    block_column=theme_settings.productpage_product_block_col
                    block_layout=theme_settings.productpage_product_block_1_layout
                }}
            {{else if theme_settings.productpage_product_block-1 '==' 'Customers'}}
                {{> components/products/similar-by-view
                    products=product.similar_by_views
                    productsnew=products.new
                    title=theme_settings.productpage_product_block-1-title
                    block_id="halo-product-block-1"
                    block_limit=product.similar_by_views.length
                    block_column=theme_settings.productpage_product_block_col
                    block_layout=theme_settings.productpage_product_block_1_layout
                }}
            {{/if}}

            {{#if theme_settings.productpage_product_block-2 '==' 'Related'}}
                {{> components/products/related
                    products=product.related_products
                    productsnew=products.new
                    title=theme_settings.productpage_product_block-2-title
                    block_id="halo-product-block-2"
                    block_limit=product.related_products.length
                    block_column=theme_settings.productpage_product_block_col
                    block_layout=theme_settings.productpage_product_block_2_layout
                }}
            {{else if theme_settings.productpage_product_block-2 '==' 'Customers'}}
                {{> components/products/similar-by-view
                    products=product.similar_by_views
                    productsnew=products.new
                    title=theme_settings.productpage_product_block-2-title
                    block_id="halo-product-block-2"
                    block_limit=product.related_products.length
                    block_column=theme_settings.productpage_product_block_col
                    block_layout=theme_settings.productpage_product_block_2_layout
                }}
            {{/if}}
        </div>
    </div>
{{/partial}}
{{> layout/base}}
