<script type="text/javascript" src="https://alita-bridal-demo.mybigcommerce.com/content/haloMultiMap.js"></script>
<script type="text/javascript">
    var ENVmap = new ENV_map();
    var option = {
        "token": "Envora_free",
        "get_list": ".InfoFindInner",
        "get_map": ".HL-ColRight .mapContact",
        "get_search": ".search_map",
        "data": [
            {
              "lat": 32.922179,
              "lng": -111.692871,
              "name": "",
              "text": "<h4 class='halo-location-heading'>Alita Bridal Skyline</h4>\
                        <p class='halo-location-info location'>2905 East Skyline Drive Tucson, AZ 85718 United States</p>\
                        <p class='halo-location-info number'>Toll-Free: 1800 000 Alita</p>"
            }, 
            {
                "lat": 33.382287, 
                "lng": -111.964907,
                "name": "",
                "text": "<h4 class='halo-location-heading'>Alita Store Arizona</h4>\
                        <p class='halo-location-info location'>5000 Arizona Mills Circle Tempe, AZ 85282 United States</p>\
                        <p class='halo-location-info number'>Toll-Free: 1800 020 Alita</p>"
            }, 
            {
                "lat": 33.503168,
                "lng": -111.929448,
                "name": "",
                "text": "<h4 class='halo-location-heading'>Alita Store Cameback</h4>\
                        <p class='halo-location-info location'>7014 East CameLback Road Scottsdale, AZ 85251 United States</p>\
                        <p class='halo-location-info number'>Toll-Free: 1800 030 Alita</p>"
            }, 
            {
                "lat": 33.387773,
                "lng": -111.510688,
                "name": "",
                "text": "<h4 class='halo-location-heading'>Alita Store Broadway</h4>\
                        <p class='halo-location-info location'>5870 East Broadway Boulevard Tucson, AZ 85711 United States</p>\
                        <p class='halo-location-info number'>Toll-Free: 1800 040 Alita</p>"
            }, 
            {
                "lat": 33.447723,
                "lng": -112.684586,
                "name": "",
                "text": "<h4 class='halo-location-heading'>Alita Store Skyline2</h4>\
                        <p class='halo-location-info location'>7986 East Skyline Drive Tucson, AZ 85718 United States</p>\
                        <p class='halo-location-info number'>Toll-Free: 1800 050 JEWEL</p>"
            }
        ],
        "zoom": 9,
    };
    ENVmap.config = function() {
        this.vars.icon_defaults = {
            'url': 'http://www.fisherinvestments.com/~/media/fisher-investments/images/social-icons/white-icons/fisher-marketminder-icon.png?h=24&w=24&la=en',
        };
    };
    ENVmap.view(option);
</script>
