<div class="halo-sidebar halo-search-sidebar halo-sidebar-left" id="halo-search-sidebar">
    <div class="halo-sidebar-header">
		<span class="title">{{lang 'common.search'}}</span>
		<a href="#" class="close">
			<svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
            	<title>{{lang 'common.close'}}</title>
            	<desc>{{lang 'common.close'}}</desc>
            	<use xlink:href="#icon-close"></use>
            </svg>
		</a>
	</div>
    <div class="halo-sidebar-wrapper"></div>
</div>
