<div class="halo-sidebar halo-menu-sidebar halo-sidebar-left{{#if theme_settings.haloMegamenu}} halo-menu-megamenu{{/if}}" id="halo-menu-sidebar">
    <a href="#" class="halo-sidebar-close">
        <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
        	<title>{{lang 'common.close'}}</title>
        	<desc>{{lang 'common.close'}}</desc>
        	<use xlink:href="#icon-close"></use>
        </svg>
    </a>
    <div class="halo-sidebar-wrapper navPages-container" data-menu>
        {{> components/common/navigation-mobile }}
    </div>
</div>
