<div class="halo-search-box">
    <div class="container">
    	<a href="#" class="halo-search-box-close">
	        <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
            	<title>{{lang 'common.close'}}</title>
            	<desc>{{lang 'common.close'}}</desc>
            	<use xlink:href="#icon-close"></use>
            </svg>
	    </a>
    	<div id="quickSearch" class="quickSearch" data-prevent-quick-search-close>
	    	{{> components/common/quick-search}}
    	</div>
	</div>
</div>
