{{#if theme_settings.halo-next-product}}
    <div class="productView-nextProducts" data-product-id="{{product.id}}">
        <div class="next-prev-icons">
            <a class="prev-icon disable" href="#" data-target="#prev-product-modal">
                <svg class="icon"><use xlink:href="#icon-arrow-left" /></svg>
                <span class="text">
                    <span>{{lang 'common.previous'}}</span>
                </span>
            </a>
            <a class="next-icon disable" href="#" data-next-prev-icon="" data-target="#next-product-modal">
                <span class="text">
                    <span>{{lang 'common.next'}}</span>
                </span>
                <svg class="icon"><use xlink:href="#icon-arrow-right" /></svg>
            </a>
        </div>
        <div class="next-prev-modal">
            <div id="prev-product-modal" class="next-prev-content"></div>
            <div id="next-product-modal" class="next-prev-content"></div>
        </div>
    </div>
{{/if}}
