{{#if banner '==' 'home-custom-text'}}
    {{> components/halothemes/home/halo-layout-banner find="halo-custom-text"}}
    {{{region name="home_below_custom_text"}}}
{{/if}}

{{#if banner '==' 'home-top-banner'}}
    {{> components/halothemes/home/halo-layout-banner find="halo-top-banner"}}
    {{{region name="home_below_top_banner"}}}
{{/if}}

{{#if banner '==' 'home-middle-banner-1'}}
    {{> components/halothemes/home/halo-layout-banner find="halo-middle-banner-1"}}
    {{{region name="home_below_middle_banner_1"}}}
{{/if}}

{{#if banner '==' 'home-middle-banner-2'}}
    {{> components/halothemes/home/halo-layout-banner find="halo-middle-banner-2"}}
    {{{region name="home_below_middle_banner_2"}}}
{{/if}}

{{#if banner '==' 'home-bottom-banner'}}
    {{> components/halothemes/home/halo-layout-banner find="halo-bottom-banner"}}
    {{{region name="home_below_bottom_banner"}}}
{{/if}}

{{#if banner '==' 'home-top-brand'}}
    {{> components/halothemes/home/halo-layout-banner find="halo-top-brand"}}
    {{{region name="home_below_top_brand"}}}
{{/if}}

{{#if banner '==' 'home-image-gallery'}}
    {{> components/halothemes/home/halo-layout-banner find="halo-image-gallery"}}
    {{{region name="home_below_image_gallery"}}}
{{/if}}

{{#if banner '==' 'home-lookbook-slider'}}
    {{> components/halothemes/home/halo-layout-banner find="halo-lookbook-slider"}}
    {{{region name="home_below_lookbook_slider"}}}
{{/if}}

{{#if banner '==' 'home-instagram'}}
    {{> components/halothemes/home/halo-layout-banner find="halo-instagram"}}
    {{{region name="home_below_instagram"}}}
{{/if}}
