<div class="halo-block halo-block-product" id="halo-related-products">
	<div class="container">
		<div class="halo-block-header">
	        <h2 class="title">{{title}}</h2>
	    </div>
	    {{#if block_layout}}
		    {{#if settings.data_tag_enabled}}
		    	{{> components/products/carousel
		    		products=products
		    		productsnew=productsnew
		    		block_id=block_id
		    		block_limit=block_limit
		    		block_column=block_column
		    		list="Related Products"
		    	}}
		    {{else}}
		    	{{> components/products/carousel
		    		products=products
		    		productsnew=productsnew
		    		block_id=block_id
		    		block_limit=block_limit
		    		block_column=block_column
		    	}}
		    {{/if}}
		{{else}}
			{{#if settings.data_tag_enabled}}
		    	{{> components/products/no-carousel
		    		products=products
		    		productsnew=productsnew
		    		block_id=block_id
		    		block_limit=block_limit
		    		block_column=block_column
		    		list="Related Products"
		    	}}
		    {{else}}
		    	{{> components/products/no-carousel
		    		products=products
		    		productsnew=productsnew
		    		block_id=block_id
		    		block_limit=block_limit
		    		block_column=block_column
		    	}}
		    {{/if}}
		{{/if}}
	</div>
</div>
